.name
{
  border: thick double #32a1ce;/*створив границі*/
  background-color: black;
  color: white;
  text-align: center;
  margin-bottom: 15px;/*задав відстань знизу між елементами*/
  font-size: 30px;
  border-radius: 7px;/*задав розмір межі*/
  font-family: serif;
}
.My_photo
{
  margin-bottom: 15px;
  border-radius: 7px;
  border: thick double #32a1ce;
  height: 500px;
  width: 500px;
}
#main_info
{
  display:flex;
  flex-direction: row;
}
.info
{
  border-radius: 7px;
  border: thick double #32a1ce;
  font-family: serif;
  background-color: #1fd1b6;
}
.Link1:hover/*при наведенні миші посилання змінює колір фону*/
{
  background-color: #1fd1b6;
}
.Link2:hover
{
  background-color: #1fd1b6;
}
.Link3:hover
{
  background-color: #1fd1b6;
}
